<div class="container">
  <div class="row mb-4">
    <div class="col col-8">
      <app-video-player #videoPlayer videoSource="{{videoUrl}}" [autoplay]="false"></app-video-player>
    </div>

    <div class="col col-4">
      <div class="card h-100" (click)="addMessage()">
        <ul class="list-group m-0 d-block " >
          <li *ngFor="let msg of botMessages" class="list-group-item ">
            "{{ msg }}"
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" (click)="sendVIPost()">Send VI post URL of objectObserver</button>
  <br>

  <div class="row">
    <div class="col">
      <div class="card w-100 h-100">
        <div class="card-body">
          <h4 class="card-title">Live Analysis</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

